.landing.container-fluid
  .landing__message
    %p 知識をスキルに。
  .landing__btn.row
    = link_to "ログイン", new_user_session_path, class: "btn btn-secondary col-12 aa",role:"button"
    = link_to "新規登録", new_user_registration_path, class: "btn btn-secondary col-12 aa",role:"button"
