- if user_signed_in?
  .index.container-fluide
    .index__maxim
      %p= @maxim.text
      %p= @maxim.name
  .index__wrapper.container-fluid
    -@posts.each do |post|
      = render partial:"action-plan",locals:{post:post}
- else
  =render "landing"