-if user_signed_in?
  %nav.navbar.navbar-expand-sm.navbar-light.bg-light.fixed-top
    %button.navbar-toggler{type:"button",data: {toggle: "collapse",target: "#navbarResponsive"}}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarResponsive
      %ul.navbar-nav.mr-auto
        %li.nav-item
          =link_to("TOP","/", {class:"nav-link"})
        -if @posts.present?
          %li.nav-item
            =link_to(post_path(@random.ids), {class:"nav-link"}) do
              フラッシュバック
        -if @post.present?
          %li.nav-item
            =link_to(post_path(@random.ids), {class:"nav-link"}) do
              フラッシュバック
              
        %li.nav-item
          =link_to("一覧","/posts/list", {class:"nav-link"})
        %li.nav-item
          = link_to "新規投稿", new_post_path, class: "header__right--btn nav-link" 
        %li.nav-item
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn nav-link"
    %p#user=current_user.name
- else
